# 환경 설정
PYTHON_ENV=development

# MongoDB 설정
MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_DATABASE=crawling_db
MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_AUTH_SOURCE=admin
MONGODB_AUTH_MECHANISM=SCRAM-SHA-1

# 위 옵션을 개별로 설정하거나 Connection String으로 한 번에 정의 가능 (본 옵션은 위의 설정을 Override함)
# MONGODB_CONNECTION_STRING=mongodb://username:password@host:port/database?authSource=admin

# 서버 설정
SERVER_HOST=0.0.0.0
SERVER_PORT=8000