

# MongoDB 설정
MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_DATABASE=base_db
MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_AUTH_SOURCE=admin
MONGODB_AUTH_MECHANISM=SCRAM-SHA-1

# 위 옵션을 개별로 설정하거나 Connection String으로 한 번에 정의 가능 (본 옵션은 위의 설정을 Override함)
# MONGODB_CONNECTION_STRING=mongodb://username:password@host:port/database?authSource=admin

# OpenAI 설정
OPENAI_API_KEY=your_openai_api_key_here

# Pinecone 벡터 DB 설정
INDEX_NAME=             # 공고 데이터용 인덱스
CHATBOT_INDEX_NAME=     # 세무/행정 지식용 인덱스
PINECONE_API_KEY=       # 파인콘 벡터디비 api 키
UPSTAGE_API_KEY=        # 업스테이지 api 키
